main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-bottom: 0.625rem;

    H1 {
        margin-bottom: 0;
    }
}

.tab-switcher {
    margin-bottom: 0;
    box-shadow: none;

    button {
        padding: var(--pico-text-underline-offset);
        border: var(--pico-border-width) solid var(--pico-contrast-border);
        border-radius: 10px 10px 0 0;
    }
}

.messages-outer {
    display: flex;
    flex-direction: column;
    flex: 1;

    /* prevent vertical overflow */
    min-height: 0;
    overflow: hidden;

    .messages {
        border: var(--pico-border-width) solid var(--pico-contrast-border);
        border-top-width: 0;

        border-radius: 0 0 10px 10px;
        padding: 20px;

        display: flex;
        flex-direction: column-reverse;
        flex: 1;

        overflow-y: auto;
    }

}

.date-bubble {
    display: flex;
    justify-content: center;
    margin: var(--pico-spacing);
}

.msg-div {
    display: flex;

    .msg-avatar {
        background: var(--pico-primary-background);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        align-self: end;
        margin-bottom: 15px;
    }


    .msg-bubble {
        border-radius: 40px 40px 40px 2px;
        display: flex;
    }
}

.pkg-div {
    .pkg-avatar {
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }
}

.bubble-date {
    font-size: x-small;
    color: var(--pico-secondary);
    margin: var(--pico-spacing);
    margin-bottom: 0;
    float: right;
}

footer {
    button {
        float: right;
        margin: var(--pico-spacing) 0 0 var(--pico-spacing);
    }

    .shutdown-sign {
        margin-top: var(--pico-spacing);

        p {
            color: tomato;
            font-style: italic;
            padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
            margin-bottom: 0;
        }
    }
}