main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-bottom: 0.625rem;

    H1 {
        margin-bottom: 0;
    }
}

.tab-switcher {
    margin-bottom: 0;
    box-shadow: none;

    button {
        padding: var(--pico-text-underline-offset);
        border: var(--pico-border-width) solid var(--pico-contrast-border);
        border-radius: 0.625rem 0.625rem 0 0;
    }
}

.messages-outer {
    display: flex;
    flex-direction: column;
    flex: 1;

    /* prevent vertical overflow */
    min-height: 0;
    overflow: hidden;

    .messages {
        border: var(--pico-border-width) solid var(--pico-contrast-border);
        border-top-width: 0;

        border-radius: 0 0 0.625rem 0.625rem;
        padding: 1.25rem;

        display: flex;
        flex-direction: column-reverse;
        flex: 1;

        overflow-y: auto;
    }
}

.date-bubble {
    display: flex;
    justify-content: center;
    margin: var(--pico-spacing);
}

.msg-div {
    display: flex;

    .msg-avatar {
        background: var(--pico-primary-background);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin: var(--pico-spacing);
        margin-left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        align-self: end;
    }

    .msg-bubble {
        border-radius: 2rem 2rem 2rem var(--pico-border-radius);
        margin-bottom: 0;
        overflow: hidden;
    }
}

.pkt-div {
    .pkt-avatar {
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }
}

.bubble-date {
    font-size: x-small;
    color: var(--pico-secondary);
    margin: 0.5rem 0.5rem 0 1rem;
    float: right;
    text-wrap: nowrap;
}

footer {
    button {
        float: right;
        margin: var(--pico-spacing) 0 0 var(--pico-spacing);
    }

    .shutdown-sign {
        margin-top: var(--pico-spacing);

        p {
            color: tomato;
            font-style: italic;
            padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
            margin-bottom: 0;
        }
    }
}